.task-form-container {
  width: 60%; /* ou la largeur souhaitée */
  margin: auto; /* centre le conteneur horizontalement */
}
.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input,
.p-dropdown {
  width: 100%; /* pour rendre tous les champs de la même largeur */
  box-sizing: border-box; /* inclut les bordures et les rembourrages dans la largeur */
}

.flex {
  display: flex;
  align-items: center;
}

.gap-2 {
  margin-right: 2px; /* ajustez selon vos besoins */
}
