<div>
  <div class="header">
    <h3>ProTasker</h3>
    <h4>Tâches</h4>
  </div>
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p-button severity="secondary" (click)="showAdd()">Ajouter un tâche</p-button>
    </div>
    <div class="p-toolbar-group-end">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input [(ngModel)]="searchTerm" pInputText placeholder="Rechercher sur le libellé" (input)="updateFilteredTasks()">
      </span>
      <p-dialog [(visible)]="displayDialog" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [closable]="false">
        <div>
          <label>Attribution</label>
          <p-dropdown [options]="userList" [(ngModel)]="selectedUser" optionLabel="fullName" appendTo="body" placeholder="Veuillez sélectionner un utilisateur" (onChange)="updateFilteredTasks()"></p-dropdown>
          <label>Statut</label>
          <p-dropdown [options]="status"  [(ngModel)]="selectedStatus" appendTo="body" optionLabel="text" placeholder="Veuillez sélectionner un statut" (onChange)="updateFilteredTasks()"></p-dropdown>
          <div class="align-items-center">
          <p-button label="Réinitialiser" severity="secondary" (click)="reset()"></p-button>
          </div>
        </div>
      </p-dialog>
      <p-button icon="pi pi-file-excel" [text]="true" severity="success" (click)="exportExcel()"></p-button>
      <p-button icon="pi pi-filter" [text]="true" severity="secondary" (click)="toggleDialog()"></p-button>
    </div>
  </p-toolbar>
    <p-table
      [value]="filteredTasksList"
      [paginator]="true"
      [rows]="10"
      [tableStyle]="{'min-width' : '50rem'}"
    >
      <ng-template pTemplate="header">
        <tr class="col">
          <th>Libellé</th>
          <th>Attribution</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr class="col">
          <td>{{task.text}}</td>
          <td>{{task.user.firstName}}</td>
          <td>
            @switch (task.status){
              @case (0) {
                <p-tag severity="warning">En Cours</p-tag>
              }
              @case (1) {
                <p-tag severity="danger">Bloqué</p-tag>
              }
              @case (2) {
                <p-tag severity="success">Terminé</p-tag>
              }
            }
          </td>
          <td>
            <p-button icon="pi pi-pencil" [text]="true" severity="warning" (click)="showEdit(task.id)"></p-button>
            <p-button icon="pi pi-trash" [text]="true" severity="danger " (click)="showDelete(task.id)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
</div>
